
.name-form{
                
    text-align: center;
    color: #007F98;

    font-weight: bold;
    border-radius: 10;
    font-size: 40px;
    margin: 0px;

    
}
p{
    text-align: center;
}
.bt{
    display: block;
    width: 200px;
    background-color: #007F98;
    border-radius:8;
    color: white;
    padding: 5px;
    border: thin;
    margin: 10px auto;
}

/* .btn:hover{
    transform: translateY(-3px);

} */
.bt:active{
    transform: translateY(2px);
}
input:hover{
    border-color: #6DC3CC;
}
.input-form{
   width: 500px;
   display: block;
   margin: 20px auto;
   border-radius: 30;
   padding: 20px;
   background-color: #80CFD5;
   
}
.ab{
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.container{
    display: block;
    background-color: white;
    padding: 5px;
}
a{
    color: whitesmoke;
}
/* colo
#80CFD5 background
#007F98 chu
#6DC3CC hover */