.divImage 
{
    text-align: center;
    width: 220px;
    height: 350px;
    padding:1px;
}

.productsImage 
{
    width: 200px;
    height: 200px;
    padding: 5px;
    border: solid lightgray medium;
    display: block;
    margin: auto;
    transition: transform 0.5s;
}

.divImage:hover
{
    transform: translateY(-5px);
}

h2{
    font-weight: bold;
    color: steelblue;
  }

.name_product{
    font-size: 15px;
    font-weight: bold;
}
.small_name{
  font-size: 35px;
  font-weight: bold;
  color: steelblue;

}
.price{
  font-size: 20px;
 color: red;
}
li{
    font-size: 16px;
}
.name{
    font-size: 24px;
    font-weight: bold;

}
