
.filter-box{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.filter-box button{
    margin: 5px;
    border: 1px solid;
    border-radius: 5px;
}
.item-box .card{
    border:none;
    border-radius: 20px;
}
.item-box .card:hover{
    background: rgb(216, 216, 216);
}