* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f1f1f1 !important;
  
    font-family: Arial;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  h1 {
    font-size: 50px;
    word-break: break-all;
  }
  
  .row {
    margin: 10px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  #myBtnContainer.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
 
  #myBtnContainer
  {
      text-align: center;
      padding-top: 20px;
  }

.cart >a{
display:inline-block;
font-size: 15px;
background-color:red;
text-decoration: none;
color: white;

}
.cart a:hover
{

background-color: white;
color: red;
transition :0.3s linear;

text-decoration: none;
}
.cart1 >a
{
display:inline-block;
font-size: 15px;
text-decoration: none;
color: #315377;;
}
.cart1 a:hover
{

background-color: #fff;
transition :1s linear;
color: #2c3e50;
text-decoration: none;
}
.content a h5
{
  color: black;
  
}
.content a
{
  text-decoration: none;
}
#ads1{
  border:none;
  width:200px;
  height: 570px;
  position:absolute;
  top: 250px;
  left: 30px;
}
#ads2{
  border:none;
  width:200px;
  height: 570px;
  position:absolute;
  top: 250px;
  right: 30px;
}
#ads3{
  border:none;
  width:100px;
  height:120px;
  position:fixed;
  bottom:50px;
  right:30px;
}
