body
{
    background-color: white;
   
}

header
{
    padding-left: 300px;
    padding-bottom: 5px;
    color: white;
    background: #315377;
    
}
nav
{
    background-color: lightgrey;
   
}
nav a
{
    color: rgb(14, 13, 13) !important;
   
}
.dropdown-menu
{
    display: none;
    position: absolute;
    color: rgb(14, 13, 13) !important;
    background-color: lightgrey;
    z-index: 1;
}

.filter-box{
    text-align: center;
      
     
  }

.details
{
margin: 20px 0;
background-color: white;
border: black 1px solid;
padding: 30px 20px;
position: relative;
z-index: 1;
background-color: #ecf0f1;;
}
.details h5
{
text-transform: capitalize;
font-size: 20px;
display: inline-block;
color: black;


}
.details a :hover{
    display: inline-block;
    
}
.details.cart{
display:block;
font-size: 15px;
text-decoration: none;
color: #315377;;

}
.details:hover .cart
{
background-color: #2c3e50;
transition :1s linear;
color: #fff;
text-decoration: none;
}
.section-viewall a {
width: 25%;
border-style: solid;
border-color: #BBBDC0;
padding: 10px 0px 10px 0px;
display: block;
margin: auto;
margin-top: 20px;
text-align: center;
text-transform: uppercase;
font-size: 24px;
color: red;
text-decoration: none;
}
#footer{
    background: #315377;
    color: #fff;
    padding: 30px 0px;
    font-size: 14px;
    margin-top: 50px;
}


#footer .footer-sidebar i {
    font-size: 20px;
    width: 40px;
}

#footer.footer-sidebar span {
    display: inline-block;
}

#footer .col {
    height: 100%;
}

#footer p {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

#footer a {
    color: #fff;
}
#footer .menu,
#footer.menu-item {
    display: block;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}

#footer .menu-item {
    margin-bottom: 5px;
}

.page_header {
    width: 35%;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #BBBDC0;
    padding: 10px 0px 10px 0px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
}
